[Oo]bj/
[Bb]in/
ClientBin/
packages/
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
*.cache
*.schemaview
_ReSharper*/
DeploymentScripts.dbmdl
Package_For_*
DeploymentScripts/sql
IGS.ChoiceNet.6.0.ReSharper
IGS.ChoiceNet.6.1.ReSharper
IGS.ChoiceNet.7.1.ReSharper
user-connectionStrings.config
TestResult.trx
TestResult*.html
jkruger_*/
Visual Studio 2012/
Visual Studio 2015/
*.ispac
.vs/
.idea/